<%- include('template/header', {tituloWeb: 'crear servicio'}); %>

<div class="container">
    <h1>Nuevo Servicio</h1>
    <a href="/servicios" class="btn btn-dark my-2">volver</a>
    <form action="/servicios" method="post">
        
        <input class="form-control my-2" type="text" name="servicio" id="servicio" placeholder="Nombre del servicio">
        
        
        <div class="d-grid">
            <button class="btn btn-success" type="submit">Agregar</button>
           
          </div>
        
       
        
    </form>
</div>





<%- include('template/footer'); %> 