<%- include('template/header', {tituloWeb: 'crear mascota'}); %>



<div class="container">
    <h1>Nueva Mascota</h1>
    <form action="/mascotas" method="post">
        
        <input class="form-control my-2" type="text" name="nombre" id="nombre" placeholder="nombre de la mascota">
        <input class="form-control my-2" type="text" name="descripcion" id="descripcion" placeholder="escriba una descripcion">
        
        <div class="d-grid">
            <button class="btn btn-success" type="submit">Agregar</button>
           
          </div>
        
       
        
    </form>
</div>

<%- include('template/footer'); %> 