<%- include('template/header', {tituloWeb: 'Pagina de inicio'}); %>

<body>
    <h1 class="text-primary"><%= titulo %></h1>
    <h2>Pagina de inicio con EJS</h2>
    <p>Lorem ipsum dolor sit amet consectetur </p>
</body>
</html>